.formOuter{
    padding-top: 60px;
    & h1 {
        margin-bottom: 40px
    }
}
.detailInner {
    padding: 90px;
    padding-top: 150px;
}


@media (max-width: 576.98px) {
    .detailInner {
        padding: 30px;
        padding-top: 90px;
    }
}