.gridContent {
   padding-top: 60px;
}

.gridTitle {
    background: rgb(63 81 181 / 0.1);
}


.cardTitle {
    text-align: left;
}

.avatar {
     background-color:  #3f51b5 !important;
}

.cardOuter {
    box-shadow: none!important;
    border: 1px solid #efefef;
    outline: 0;

    & i, & svg {
        color: #3f51b5;
    }

    & span {
        font-size: 18px;
        font-weight: bold;
    }
}


